.bash_history
.bash_logout
.bashrc
.cache/
.claude.json
.claude/__store.db
.claude/settings.json
.claude/statsig/
.claude/todos/
.config/
.gitconfig
.landscape/
.lesshst
.local/
.motd_shown
.npm/
.nvm/
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.vscode-server/
.zshrc
